.input {
    margin: 8rem auto;
    padding: 2rem;
    max-width: 50rem; 
   background-color: #3c7254;
   border-radius: 25px;
   background :#e6a01e;
   min-height: 60vh;
   font-weight: 400;
   font-family: 'Fira Sans', sans-serif;
   
  }
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
    color :#FFFFEF;
    padding-top:10px ;
    font-family: 'Fira Sans', sans-serif;
  }

  .inputs {
    width: 100%;
  height: 40px;
  border-radius: 15px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.952);
  transition: 0.3s all;
  font-family: 'Fira Sans', sans-serif;

  }

  .button {
    font: inherit;
    background: #010101;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    font-family: 'Fira Sans', sans-serif;
  }

  .small {
    color :#FFFFEF;
    font-family: 'Fira Sans', sans-serif;
  }

  .Head {
      color: white;
  }